#root,
body {
    height: fit-content;
    width: fit-content;
}

.app-div {
    width: 97.5svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
button {
    margin: 10px;
}

input {
    padding: 10px;
    font-size: 1.5rem;
}
